.ramen-title {
  letter-spacing: 5px;
  font-size: 40px;
  text-shadow:
      0 0 0 #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
}
.flicker-letter {
  animation: flicker 3s infinite alternate;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.input-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  flex-direction: column;
  border: solid 4px #fff;
  border-radius: 15px;
  font-size: 30px;
  letter-spacing: 2px;
  box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #bc13fe,
      0 0 0.8rem #bc13fe,
      0 0 2.8rem #bc13fe,
      inset 0 0 1.3rem #bc13fe;
  font-family: Avenir;
}

.input-label {
  color: #fff;
    text-shadow:
      0 0 0 #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
}

.input-box {
  margin: 1rem;
  width: 260px;
  height: 35px;
  font-size: 24px;
  box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 15px #13a0fe,
      0 0 0.8rem #13a0fe,
      0 0 5px #13a0fe,
      inset 0 0 10px #13a0fe;
  border: solid 0.5px #fff;
  background-color: black;
  text-align: center;
}


@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {

    text-shadow:
        0 0 0 #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #bc13fe,
        0 0 102px #bc13fe,
        0 0 151px #bc13fe;

  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}