/* .menu-page {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    width: 100%;
}

#menu-item-bar {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-self: start;
    flex-grow: 1;
    width: 100%;
    margin: 3em;
}

#menu-items-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.menu-category-name {
    float: left;
}

li.menu-category-name button {
    display: block;
} */

.menu-page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
    border: solid 4px #fff;
    border-radius: 20px;
    cursor: default;
}

.menu-page-content {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.menu-header {
    margin: 2rem;
}

.category-page {
    display: flex;
    flex-direction: column;
}
.category-labels {
    display: flex;
}
.category-page div{
    margin: 0 1rem 0 0;
}


