/* .menu-page {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    width: 100%;
}

#menu-item-bar {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-self: start;
    flex-grow: 1;
    width: 100%;
    margin: 3em;
}

#menu-items-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.menu-category-name {
    float: left;
}

li.menu-category-name button {
    display: block;
} */


/*** MENU VIEW ***/
.menu-page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
    border: solid 4px #fff;
    border-radius: 20px;
    cursor: default;
}

.menu-page-content {
    display: flex;
    width: 90%;
    justify-content: space-around;
}
.menu-header {
    margin: 1rem;
    font-size: 25px;
}
.staff-welcome-title {
    margin-bottom: 0;
}
.no-section-title {
    margin: 0;
}
.table-btns {
    margin: 10px;

}


.category-page {
    display: flex;
    flex-direction: column;
    border: solid 2px #fff;
    border-radius: 10px;
    background-color: rgba(46, 46, 46, 0.938);
}
.category-labels {
    display: flex;
    
}
.category-title {
    min-width: 115px;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}
#bev-tab {
    border-right: solid 2px #fff;
    border-left: solid 2px transparent;
}
#apps-tab {
    border-right: solid 2px #fff;
    border-left: solid 2px #fff;
}
#entree-tab {
    border-right: solid 2px #fff;
    border-left: solid 2px #fff;
}
#dessert-tab {
    border-left: solid 2px #fff;
    border-right: solid 2px transparent;
}
#inactive-tab {
    border-bottom: solid 2px #fff;
    border-left: solid 2px transparent;
    border-right: solid 2px transparent;
    background-color: rgb(32, 32, 32);
    border-radius: 10px 10px 0 0;
}

.menu-content {
    padding: 10px;
    width: 518px;
    height: 300px;
}

/*** BEVERAGES ***/
.item-list-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
}
.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px;
    margin: 2.5px;
    height: 30px;
    width: 80px;
    background: linear-gradient(60deg, rgb(100, 100, 100), rgb(71, 71, 71));
    border-radius: 4px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 18px;
    cursor: pointer;
}
.menu-item:active {
    box-shadow: inset 0 0 10px #000000;
    font-size: 16px;
}


/*** RECEIPT VIEW ***/
.receipt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #fff;
    border-radius: 10px;
    width: 300px;
    background: linear-gradient(60deg, rgb(29, 29, 29), rgb(0, 0, 0));
}
.receipt-content {
    height: 260px;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    background-color: rgba(46, 46, 46, 0.938);
    border-radius: 10px;
}
.receipt-content::-webkit-scrollbar {
    display: none;
}
.receipt-item-list {
    padding: 0;
    list-style-type: none;
}
.receipt-item {
    font-size: 20px;
}

.create-order-btn {
    margin: 5px;
    width: 100px;
    height: 25px;
    font-size: 14px;
    transform: translateY(-10px);
}