.table-1 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 80px;
    left: 160px;
    width: 130px;
    height: 60px;
}

.chair-1 {
    position: absolute;
    top: -60px;
    left: 70px;
    width: 80px;
    height: 80px;
}

.chair-2 {
    position: absolute;
     top: -60px;
     left: -15px;
     width: 80px;
     height: 80px;
}

.chair-3 {
    position: absolute;
    top: 40px;
    left: -15px;
    width: 80px;
    height: 80px;
}

.chair-4 {
    position: absolute;
    top: 40px;
    left: 70px;
    width: 80px;
    height: 80px;

}


.table-2 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 270px;
    left: 160px;
    width: 130px;
    height: 60px;
}

.table-3 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 80px;
    left: 400px;
    width: 70px;
    height: 70px;
}

.chair-1a {
    position: absolute;
    top: -60px;
    left: -4px;
    width: 80px;
    height: 80px;
}

.chair-2a {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 80px;
    height: 80px;
   
}

.table-4 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 270px;
    left: 400px;
    width: 70px;
    height: 70px;
}

.table-5 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 440px;
    left: 177px;
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.chair-1b {
    position: absolute;
    top: -40px;
    left: 60px;
    width: 80px;
    height: 80px;
    transform: rotate(45deg)
}

.chair-2b {
    position: absolute;
    top: -35px;
    left: -45px;
    width: 80px;
    height: 80px;
    transform: rotate(305deg)
}

.chair-3b {
    position: absolute;
    top: 65px;
    left: -40px;
    width: 80px;
    height: 80px;
    transform: rotate(45deg)
    
}

.chair-4b {
    position: absolute;
    top: 63px;
    left: 60px;
    width: 80px;
    height: 80px;
    transform: rotate(325deg)
}

.table-6 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 440px;
    left: 390px;
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.table-7 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 670px;
    left: 160px;
    width: 400px;
    height: 40px;
}

.chair-1c {
    position: absolute;
    top: -58px;
    left: -15px;
    width: 80px;
    height: 80px;
    
}

.chair-2c {
    position: absolute;
    top: -58px;
    left: 100px;
    width: 80px;
    height: 80px;
}

.chair-3c {
    position: absolute;
    top: -58px;
    left: 220px;
    width: 80px;
    height: 80px;
}

.chair-4c {
    position: absolute;
    top: -58px;
    left: 330px;
    width: 80px;
    height: 80px;
}

#table-1:hover {
    /* border: solid 2px red; */
}