.table-container {
    height: 80vh;
}

.table-1 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 80px;
    left: 160px;
    width: 120px;
    height: 50px;
}

.chair-1 {
    position: absolute;
    top: -60px;
    left: 60px;
    width: 80px;
    height: 80px;
}

.chair-2 {
    position: absolute;
     top: -60px;
     left: -18px;
     width: 80px;
     height: 80px;
}

.chair-3 {
    position: absolute;
    top: 30px;
    left: -15px;
    width: 80px;
    height: 80px;
}

.chair-4 {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 80px;
    height: 80px;

}


.table-2 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 225px;
    left: 160px;
    width: 120px;
    height: 50px;
}

.table-3 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 80px;
    left: 400px;
    width: 50px;
    height: 50px;
}

.chair-1a {
    position: absolute;
    top: -60px;
    left: -16px;
    width: 80px;
    height: 80px;
}

.chair-2a {
    position: absolute;
    top: 30px;
    left: -13px;
    width: 80px;
    height: 80px;
   
}

.table-4 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 220px;
    left: 400px;
    width: 50px;
    height: 50px;
}

.table-5 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 350px;
    left: 177px;
    width: 85px;
    height: 85px;
    border-radius: 50%
}

.chair-1b {
    position: absolute;
    top: -35px;
    left: 50px;
    width: 80px;
    height: 80px;
    transform: rotate(50deg)
}

.chair-2b {
    position: absolute;
    top: -35px;
    left: -45px;
    width: 80px;
    height: 80px;
    transform: rotate(310deg)
}

.chair-3b {
    position: absolute;
    top: 45px;
    left: -40px;
    width: 80px;
    height: 80px;
    transform: rotate(50deg)
    
}

.chair-4b {
    position: absolute;
    top: 45px;
    left: 45px;
    width: 80px;
    height: 80px;
    transform: rotate(316deg)
}

.table-6 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 350px;
    left: 390px;
    width: 85px;
    height: 85px;
    border-radius: 50%
}

.table-7 {
    background-image: url("https://media.istockphoto.com/id/1183955880/photo/brown-smooth-wood-surface.jpg?s=612x612&w=0&k=20&c=nCgifq2jwcnCB-06bDrA9IoZQNsorM-Yd42yAEzrO00=");
    position: absolute;
    top: 560px;
    left: 150px;
    width: 400px;
    height: 40px;
}

.chair-1c {
    position: absolute;
    top: -58px;
    left: -15px;
    width: 80px;
    height: 80px;
    
}

.chair-2c {
    position: absolute;
    top: -58px;
    left: 100px;
    width: 80px;
    height: 80px;
}

.chair-3c {
    position: absolute;
    top: -58px;
    left: 220px;
    width: 80px;
    height: 80px;
}

.chair-4c {
    position: absolute;
    top: -58px;
    left: 330px;
    width: 80px;
    height: 80px;
}

#table-1:hover {
    /* border: solid 2px red; */
}